.card {
    width: 300px;
    min-height: 300px;
    box-shadow: 2px 3px 3px rgb(231, 228, 228);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0px 20px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}