/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}